body {
  background-image: url("https://e0.pxfuel.com/wallpapers/609/931/desktop-wallpaper-white-and-gold-marble-gold-marble-phone.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  height: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: #ff4f63 !important;
}

button:hover {
  background-color: #ef364e !important;
}

select {
  background-color: #ff6173 !important;
  color: white !important;
  border: 4px solid #ff6173;
  border-radius: 50px;
  text-align: center;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

input {
  text-align: center;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  color: #666666;
}
